
.team-heading {
    background-color: rgb(76, 223, 108);
}

.card-header {
    background-color: rgb(76, 223, 108);
}

.employee-card {
    /* width: 400px; */
    margin-right: 15px;
    margin-bottom: 15px;
}